@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto+Mono:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.section{
  margin-top: 100px;
}

/* ===========================================
Header Section
=============================================== */

.header__area ul{
  float: right;
  margin: 40px 0 60px 0;
}

.header__area ul li{
  display: inline-block;
  background-image: linear-gradient(45deg,#6A29E9,#4B73E2);
  padding: 10px 0;
  border-radius: 10px;
}

.header__area ul li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
}

.flex{
  display: flex;
  align-items: center;
  
}

/* .hero__description{
  ma
} */


.banner__description, .banner__img{
  width: 50%;
  padding: 2%;
}


.banner__description h1{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}


.name__highlight{
  color: #F46360;
}


.banner__description h3{
  margin: 60px 0;
}


.banner__description a{
  text-decoration: none;
  background-image: linear-gradient(45deg, #FF8063, #F46060);
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}