@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto+Mono:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.section{
  margin-top: 100px;
}

/* ===========================================
Header Section
=============================================== */

.header__area ul{
  float: right;
  margin: 40px 0 60px 0;
}

.header__area ul li{
  display: inline-block;
  background-image: linear-gradient(45deg,#6A29E9,#4B73E2);
  padding: 10px 0;
  border-radius: 10px;
}

.header__area ul li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}


.banner__description, .banner__img{
  width: 50%;
  padding: 2%;
}


.banner__description h1{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}


.name__highlight, .title__highlight{
  color: #F46360;
}


.banner__description h3{
  margin: 60px 0;
}


.link__btn{
  text-decoration: none;
  background-image: linear-gradient(45deg, #FF8063, #F46060);
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

/* ===========================================
Work Area
=============================================== */

#work__area{
  background: #E5E5E5;
  padding-bottom: 100px;
}

.section__title{
  text-align: center;
  font-size: 2rem;
  padding: 70px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}


.work__list{
  display: flex;
  
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.single__work{
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  background-color: white;
  padding: 2%;
  margin: 0 2%;
}

.single__work img{
  width: 100%;
}

.single__work h4{
  font-weight: bold;
  margin: 15px 0;
}

.single__work p{
  font-size: 11px;
}


/* ===========================================
Contact Area
=============================================== */

#contact__area{
  margin-bottom: 100px;
}

.contact__bg{
  background-image: url(../assets/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact__bg h1{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}




/* ===========================================
Footer Area
=============================================== */

.footer{ 
  text-align: center;
}

.footer h1{
  margin: 30px 0;
}

.social__link ul li{
  display: inline-block;
}

.social__link ul li a{
  text-decoration: none;
  color: red;
  font-size: 50px;
  padding: 30px 10px;
}